form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 3em;
  padding-left: 2.8em;
  padding-right: 2.8em;
  padding-bottom: 2.1em;
  border: 2px dashed #DAA06D;
  border-radius: 15px;
  background-color: #3a5a40;
  box-shadow: 0 0 0 8px #344e41, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
  color: white;
}

form div label {
    font-size: 25px;
}

form h1, form p {
    text-align: center;
    color: white;
}

#title {
    text-align: center;
    font-weight: bolder;
}

#title h1{
    color: #3a5a40;
    text-align: center;
    font-size: 50px;
}

#photo{   
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh;
}

#photo img {
    border-radius: 50px;   
    max-width: 90%;
    max-height: 90%; 
}

#lenom, #leprenom, #lusername, #lemessage, #envoi {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin: 10px 10px;
}

#lenom input, #leprenom input, #lusername input,  #envoi input {
    
    border: 2px solid white;
    padding: 7px;
    background-color: #fefae0;
}

textarea {
    background-color: #fefae0;
}

#envoi {
    display: flex;
    align-items: center;
}

input[type=submit] {
    width: 60vw;
    font-size: 20px;
}

textarea {
    resize: none;
}

.information {
    border: 2px solid black;
    margin: 15px 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #344e41, 2px 2px 4px 2px rgba(3, 54, 39, 0.5);
    padding: 10px;
    font-size: 1.3rem;
    color: #3a5a40;
}

#informations {
    border: 3px dashed #3a5a40;
    margin: 40px 40px;
    padding: 20px;
}

#informations h2, #informations h1{
    text-align: center;
    color: #3a5a40;
}

.alert {
    color: red;
    font-size: 50px;
}

#pagination {
    margin-top: 30px;
    margin-bottom: 20px;
}

#pagination a{
    gap: 2rem;
    color: white;
    border: 1px solid #3a5a40;
    padding: 4px;
    background-color: #3a5a40;
    text-decoration: none;
    font-size: 15px;
}

#pagination a:hover{
    cursor: pointer;
}

@media screen and (min-width:480px) and (max-width:959px) {

    #lenom, #leprenom, #lemessage, #lusername, input[type=submit] {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 85vw;
    }
    #lenom label, #leprenom label, #lemessage label, #lusername label {
        width: 150px;
        flex: 1 0 100px;
        margin-right: 30px;
    }
    #nom, #prenom, #message, #username {
        width: 75vw;
    }
    input[type=submit] {
        width: 40vw;
        font-size: 20px;
        color: #3a5a40;
    }

    #photo {  
        margin-bottom: 40px;
    }
}

@media screen and (min-width:960px) {

    form {
        margin-right: 60px;
    }
  
    #lenom, #leprenom, #lemessage, #lusername, input[type=submit] {
        flex-direction: row;
        flex-wrap: nowrap;      
    }
    
    #lenom label, #leprenom label, #lemessage label, #lusername label {
        width: 150px;
        flex: 1 0 100px;
        margin-right: 10px;
    }
    #nom, #prenom, #message, #username {
        width: 75vw;
    }
    input[type=submit] {
        width: 40vw;
        font-size: 20px;
    }
    
    #photo {
        float: left;
    }

    input[type=submit] {
        width: 20vw;
        font-size: 20px;
        color: #3a5a40;
    }
}


    