body{
    background-color:rgba(207, 148, 108, 0.822);
   
}


form {
    display: flex;
    flex-direction: column;
    border: 15px solid black;
    border-radius: 20px;
    background-color:rgba(231, 218, 186, 1);
    box-shadow: 5px 5px 5px #00000082;
    margin-bottom: 0;
    
    
}


 
form div label {
    font-size: large;
}
 
#firstTitle {
    color:rgba(54, 17, 8, 0.87);
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px black;
    margin-bottom: 0;
}
 
.leave{
    color: rgba(169, 28, 10, 0.72);
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 10%;

}

.last{
    margin-top: 20%;
}


div#logo{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    
}
 
img{  
    width: 50%;    
}

label{
    padding-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#lePrenom, #leNom, #eMail, #msg, #subButton {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 93%;
      
}

input{
    background-color: blanchedalmond;
}
 
textarea {
    background-color: blanchedalmond;
    
    
}

.champ{
    color: rgba(169, 28, 10, 0.72);
    font-size: x-small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:end;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;

}


#subButton {
    display: flex;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 95%;
    font-size: large;
}
 
 
textarea#msg {
    resize: none;
    width: 94%;
    margin-bottom: 0;
}
 
div.messages {
    border: 8px solid black;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000082;
    padding: 2%;
    background-color: rgba(231, 218, 186, 1);
}

h2.last{
    margin-top: 1%;
    margin-left: 2%;
    font-size: smaller;
}

h3#nbMessage{
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-small;
}

p{
    margin-left: 2%;
}

 
@media screen and (min-width:960px) {
 
    #firstTitle {
        color:rgba(54, 17, 8, 0.87);
        text-align: center;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-text-stroke: 1px black;
        font-size: 50px;
        margin-bottom: 0;
    }

    div#superior{
        display: flex;
        flex-flow: row nowrap;  
        margin: 3%;
        margin-top: 2%;
        margin-bottom: 0;
    }

    div#lemessage{
        display: flex;
        flex-flow: row nowrap;

    }

    div#logo{
        width: 30%;
        margin: 0;
    }
    form{
        width: 65%;
    }
    label {
        width: 150px;
        flex: 1 0 100px;
        margin-right: 10px;
    }
    
    img{
        width: 80%;
        height: 70%;
    }
 
    input{
        margin-right: 2%;
        font-size: 20px;
    }

    h2.last{
        margin-top: 1%;
        margin-left: 2%;
        font-size: smaller;
    }

    
    textarea#msg {
        resize: none;
        width: 94%;
        margin-right: 2%;
    }

#subButton {
    display: flex;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30%;
    font-size: large;
}
}
