#lergpd {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
#rgpd {
  margin-right: 1em;
}
input[type="text"],
textarea,
select {
  width: 70vw;
}
textarea {
  resize: none;
}

/* OPTION  @media screen and (640px <= width <= 1200px) */

@media screen and (min-width: 640px) and (max-width: 1199px) {
  body {
    background-color: rgb(138, 207, 253);
  }
  #lenom,
  #leprenom,
  #lalangue {
    display: flex;
    flex-direction: row;
    width: 60vw;
  }
  #lenom label,
  #leprenom label,
  #lalangue label {
    width: 8vw;
    text-align: right;
    margin-right: 0.5em;
  }
  input[type="text"],
  textarea,
  select {
    width: 60vw;
  }
  input[type="submit"] {
    background: hsla(170, 81%, 71%, 0.911);
    border-radius: 10px;
    width: 250px;
  }
}

/* Pour les écrans au-dessous de 1200px (PC de bureau) */

@media screen and (min-width: 1200) {
}
